<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New User</title>
</head>
<body>

    <h1>New User</h1>

    <a href="/users"><button><strong>All Users</strong></button></a>

    <form th:method="POST" th:action="@{/users}" th:object="${newUser}">
        <p>
            <label for="name">Name</label><br/>
            <input type="text" th:field="*{name}" id="name"/>
        </p>
        <p>
            <label for="surname">Surname</label><br/>
            <input type="text" th:field="*{surname}" id="surname"/>
        </p>
        <p>
            <label for="age">Age</label><br/>
            <input type="text" th:field="*{age}" id="age"/>
        </p>
        <p>
            <label for="email">Email</label><br/>
            <input type="email" th:field="*{email}" id="email"/>
        </p>
        <p>
            <button type="submit"><strong>Create User</strong></button>
        </p>
    </form>

</body>
</html>